<header [ngClass]="navbarandHeader" >
   <div class="img-fluid bg-img d-flex justify-content-center align-items-center">
     <div class="bg-white opacity-50 p-3 rounded-pill">
        <h1 class="text-black">La mejor opción para el cuidado de tus mascotas</h1>
     </div>
     
   </div>
</header>
<nav class="navbar navbar-light bg-light ">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center m-2" href="#">
      <img src="../../../assets/img/navbar/logo_pawprint.ico" alt="" width="50" height="100%" class="mx-2">
      <h3 >Angular Pets</h3>
    </a>
    <!--
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>  
    </div>
    -->
    <div class="mx-3 ">
      <button type="button" class="btn btn-primary me-3" routerLink="login" (click)="navbarandHeader(false)">Iniciar sesión</button>
      <button type="button" class="btn btn-primary" routerLink="sign-up" (click)="navbarandHeader(false)">Crear cuenta</button>
    </div>
  </div>
</nav>